<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>developer sancho</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <!-- Bootstrap core CSS -->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="~/Content/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/vendor/devicons/css/devicons.min.css" rel="stylesheet">
    <link href="~/Content/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Content/css/resume.min.css" rel="stylesheet">
</head>
<body id="page-top">
    @Html.Partial("_PartialNavbar")
    <div class="container-fluid p-0">
        @RenderBody()
        @Html.Partial("_PartialAbout")
        @Html.Partial("_PartialExperience")
        @Html.Partial("_PartialEducation")
        @Html.Partial("_PartialSkills")
        @Html.Partial("_PartialInterests")
        @*@Html.Partial("_PartialAwards")*@
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="~/Content/js/resume.min.js"></script>



    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
